apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui-server
  namespace: presentation
  labels:
    component: ui
spec:
  replicas: 1
  selector:
    matchLabels:
      component: ui
  template:
    metadata:
      labels:
        component: ui
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: ui-service
  namespace: presentation
spec:
  selector:
    component: ui
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: NodePort
